 {% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Our Block Prototype
        </h1>
        <p>
            A rapid prototype for a service to support resident collaboration based on GOV.UK services.
        </p>

        <p class="govuk-body"> <a href="/v0/start.html">
            Version 0
            </a>
        </p>
    </div>
</div>

{% endblock %}